@charset "UTF-8";
/* 回答はここから */

.card-list{
  display: flex;
  justify-content: center;

}

.list{
  width: 200px;
  padding: 10px;
  background-color: #d2b48c;
  border-radius: 13px;
  box-shadow:0 0 0 6px #655 ;
  outline: 10px solid #655;
  margin: 30px;
}
